<div class="detail">
    <img [src]="book.img" alt="">
    <div class="details">
        <table>
            <tr>
                <td><b>Title:</b></td>
                <td>{{ book.title}}</td>
            </tr>
            <tr>
                <td><b>Authors:</b></td>
                <td>{{ book.authors}}</td>
            </tr>
            <tr>
                <td><b>Publisher:</b></td>
                <td>{{book.publisher}}</td>
            </tr>
            <tr>
                <td><b>Pages:</b></td>
                <td>{{ book.pages}}</td>
            </tr>
            <tr>
                <td><b>Website:</b></td>
                <td><a [href]="'https://'+book.website">Go to website</a></td>
            </tr>
            <tr>
                <td><b>Price:</b></td>
                <td>{{book.price}}</td>
            </tr>
        </table>
        <div class="comments">
            <div class="comment" *ngFor="let comment of comments" class="comment">
                <div class="text">
                    <p>{{comment.text}}</p>
                </div>
                <div class="actions">
                    <p (click)="add(comment.id)" class="circ">+</p>
                    <p class="circ">{{comment.raiting}}</p>
                    <p (click)="substract(comment.id)" class="circ">-</p>
                </div>
            </div>
            <div class="write-comment">
                <textarea name="" #text id="" cols="30" rows="10"></textarea>
                <button (click)="addComment(text.value)" class="btn">Add a comment</button>
            </div>
        </div>

    </div>
</div>